.nav__list{
    display: grid;
    grid-template-columns: repeat(6,minmax(180px, 1fr));
    justify-content: space-between;
    margin: 20px;

}
.navbar{
    margin: 10px auto;
}
.nav-list__list-item{
    padding: 20px;
}
.nav-list__list-item:hover{
    background-color: aliceblue;
}
.page-logo{
    width: 200px;
    height: 70px;
}
.nav__item--Dancing-Script{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    padding: 0 0 0 5px;
    margin: 0;
    font-weight: bold;
}
.nav__item--Dancing-Script:hover{
    background-color: white;
}

@media screen and (max-width: 1024px){
    .nav__list{
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
    }
}
/**********!*main*!*/
.main__div {
    display: grid;
    grid-template-columns: 1fr;
}




.main__div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 10px;
    width: 95%;
    margin: 0 auto;

}

.main__post--fries{
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url("img/astrif-post-entry-01.jpg");

}
.main__div--milk{
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url("img/astrif-popular-02.jpg");
}

/*********!*main-first-comment*!*/
.main__post--comment{
    grid-column: 4/-1;
    grid-row: 1/3;
    background-color: beige;

}
.comment__h3--bold{
    margin: 10px 20px ;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
}
.comment__img--circle{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 30px 31%;
}
.comment__paragraph{
    text-align: center;
    padding: 10px 50px;
    line-height: 1.5;
}
.main__div--donut{
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url("img/astrif-post-entry-06.jpg");
}
.main__div--content{
    background-size: cover;
    background-position: center;
}
.main__post--grapes{
    background-image:url("img/astrif-featured-slider-02.jpg") ;
    grid-column: 1/2;
    grid-row:3/5 ;
}

.main__post--juice{
    background-image: url("img/astrif-popular-05.jpg");
    grid-column: 2/3;
    grid-row:3/4 ;
}
.main__post--fruits{
    background-image: url("img/astrif-post-entry-03.jpg");
    grid-column:2/3;
    grid-row:4/5 ;
}
.main__post--muffin{
    background-image: url("img/astrif-featured-slider-06.jpg");
    grid-column: 3/4;
    grid-row:3/5 ;
}
.main__post--cheri{
    background-image: url("img/astrif-featured-slider-03.jpg");
    grid-column: 4/-1;
    grid-row:3/5 ;
}

.main__post--bread{
    background-image: url("img/astrif-post-entry-05.jpg");
    grid-column: 1/3;
    grid-row:5/7 ;
}
.main__post--ice {
    background-image: url("img/astrif-post-entry-07.jpg");
    grid-column:1/2 ;
    grid-row:7/8 ;
}
.main__post--banner{
    background-image: url("img/astrif-sidebar-banner.jpg");
    grid-column: 3/-1;
    grid-row:5/8 ;
}

.main__post--plate {
    background-image: url("img/astrif-post-entry-02.jpg");
    grid-column:2/3 ;
    grid-row:7/8 ;
}

.main__post--roll {
    background-image: url("img/astrif-featured-slider-04.jpg");
    grid-column:1/2 ;
    grid-row:8/11 ;
}

/*main-div-paragraf*/

.paragraph-div__img--circle{
    margin: 50px;
    border-radius: 60%;
    width: 150px;
    height: 150px;

}
.main__div--paragraph{
    margin: 30px 70px;
    padding: 20px;
    background-color: beige ;
    text-align: center;
    grid-column: 2/4;
    grid-row: 8/11;
}
.paragraph-div__title--bold{
    font-weight: bold;
    font-size: 30px;
    margin: 5px auto;
    text-align: center;
}
.paragraph-div__paragraph{
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
}
/*img*/
.main__post--salad {
    background-image: url("img/astrif-featured-slider-01.jpg");
    grid-column:4/-1 ;
    grid-row:8/11 ;
}


/*article*/
.article__div{
    margin: 50px 5px;
    border: solid darkseagreen;
    background-color: #bee2be;
    text-align: center;
    padding: 10px;
}
.article__title--bold {
    margin: 10px;
    font-weight: bold;
    font-size: 27px;
}
.article__paragraph{
    margin: 20px;
    text-align: center;
    padding: 5px;
    line-height: 1.5;

}
.article__div--border1{
    grid-column: 1/2;
    grid-row: 11/12;
}

.article__div--border2{
    grid-column: 2/3;
    grid-row: 11/12;
}
.article__div--border3{
    grid-column: 3/4;
    grid-row: 11/12;
}
.article__div--border4{
    grid-column: 4/5;
    grid-row: 11/12;
}
.footer-logo{
    height: 100px;
}
.footer-div{
    margin-top: 10px;
    background-color: black;
    color: white;
    grid-column: 2/-1;
    grid-row:12/13 ;
    height: 100px;
}
.footer-div:hover{
    background-color: grey;
    color: black;
}

/*********8MEDIAS*/



@media screen and (max-width: 1024px) {
    .main__div{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: minmax(200px, auto);
        justify-content: center;
        margin: 0 auto;
        width: 80%;
    }

    .main__div--content{
        height: 500px;
        width: 100%;
        margin: 0;
    }
    .main__post--fries{
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    .main__div--milk{
        grid-row: 2/3;
        grid-column: 1/-1;

    }
    .main__div--donut{
        grid-row: 3/4;
        grid-column: 1/-1;

    }
    .main__post--comment{
        grid-row: 4/5;
        grid-column: 1/-1;
        width: 500px;
        height: 300px;
        margin: 0 auto;

    }
    .main__post--juice{
        grid-row: 5/6;
        grid-column: 1/-1;

    }
    .main__post--fruits{
        grid-row: 6/7;
        grid-column: 1/-1;

    }
    .main__post--muffin{
        grid-row: 7/8;
        grid-column: 1/-1;

    }
    .main__post--cheri{
        grid-row: 8/9;
        grid-column: 1/-1;

    }
    .main__post--grapes{
        grid-row: 9/10;
        grid-column: 1/-1;
        margin: 0;

    }
    .main__post--banner{
        margin: 0;
        grid-row: 10/11;
        grid-column: 1/-1;

    }
    .main__post--ice{
        grid-row: 11/12;
        grid-column: 1/-1;

    }
    .main__post--bread{
        grid-row: 12/13;
        grid-column: 1/-1;

    }
    .main__post--plate{
        grid-row: 13/14;
        grid-column: 1/-1;

    }
    .main__post--roll{
        grid-row: 14/15;
        grid-column: 1/-1;

    }
    .main__div--paragraph{
        grid-row: 15/16;

    }
    .main__post--salad,.footer-logo{
        display: none;
    }
    .article__div{
        display: none;
        /*margin: 0 auto;*/
        /*width: 500px;*/
    }
    .main__div--paragraph{
        grid-column: 1/-1;
        grid-row: 15/16;
    }
    .footer-div{
        height: 300px;
        grid-row: 16/17;
        grid-column: 1/-1;
        width: 100%;
    }
    .comment__img--circle{
        display: none;
    }

}

@media screen and (max-width: 768px){
    .main__div{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: minmax(600px, auto);
        justify-content: center;
        width: 100%;
        text-align: center;
    }

}

